body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header h1{
  text-align: center;
}

#featured-property {
  text-align: center;
}


header nav  {
  text-align: center;
}

header nav  a {
  padding-left: 10px;
  padding-right: 10px;
  background: steelblue;
}

#featured-property figure figcaption {
  font-size: 12px
}

#featured-property p {
  width: 800px;
  margin: auto;
  padding-top: 10px;
}


#details div {
  float: left;
  text-align: center;
  width: 25%;
  background-color: tomato;
}







